<a class="returnToMain" style="position:absolute; display:block; font-size:16px; top:25px; left:10px; color:#5c0bb3;" href="#home"><img src="img/back_light.svg" style="width:18px;margin-top:-3px;">Main Menu</a>

<div id="homeCntrl" ng-controller="homeCntrl" ng-init="init()">
    <div id="controls" ng-controller="NewGameSetupCtrl">
        <a ng-click="open('templates/howtoplay.html')" class="goplay">
            How to Play
        </a>   
        <a ng-click="open('templates/credits.html')" class="goplay">
            Credits
        </a>   
    </div>
</div>

