        <div class="modal-header">
            <h3>Achievements</h3>
        </div>
        <div class="modal-body clearfix">
    
    		<h4 style="color:#333;">Your High Score</h3>
    		<p style="text-align:left; color:#333;font-size:16px;" id="userHighScore">{{globalInfo.userHighScore}}</p>

    		<h4 style="color:#333;">Achievements Earned</h3>

            <div class="row">
                <div class="col-xs-6 col-md-4"  ng-repeat="ach in $root.globalInfo.achievements">
                    <a href="#" class="thumbnail">
                      <img style="width:48px;"src="img/achievements/{{ach.achievementId}}.png">
                       <h4 style="color:#333; font-size:16px; text-align:center;">{{ach.name}}</h4>
                    </a>
 
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button style="float:left;" class="btn" ng-click="cancel()">Close</button>
        </div>