<div id="lineCntrl" ng-controller="lineCntrl" ng-init="init()">
    <div id="lineWrap">
        <h4 id="currentLine"><span ng-repeat= "syllable in renderedSyllables"><span id="syl{{syllable.id}}" class="syl {{syllable.highlight}} {{syllable.answer}}"><span class="correctanswer syllable{{syllable.quantity}}quant"></span>{{syllable.text}}</span></span></h4>

        <div class="{{hideControls}}" id="controls">
            <a class="long" ng-click="evaluateResponse('-')">long</a>                    
            <a class="short" ng-click="evaluateResponse('u')">short</a>

            <a class="nextline" ng-click="evaluateResponse('x')">next line</a>
        </div> 
    </div>  

    <div class="clearfix" id= "currentScore">

        <h3>Streak: {{activeStreak}} <span class='multiplier'>{{multiplier}}X</span> <span style="margin-left:25px;font-size:14px;" id="mode"></span></h3>
                <span id="timer" class="shown-{{timer.shown}}">5:00</span>

        <h1>Score: {{currentScore}} </h1>
    </div>                                   
</div>
            
