
<div id="lineCntrl" ng-controller="lineCntrl" class="{{gamehappen}}"ng-init="init()">
<a class="returnToMain" style="position:absolute; font-size:16px; top:25px; padding:10px;left:10px; color:#5c0bb3;z-index:9999;" href="#home"><img src="img/back_light.svg" style="width:18px;margin-top:-3px;">Main Menu</a>
<a class="endGame" style="position:absolute; font-size:16px; top:25px; padding:10px; right:10px; color:#5c0bb3;z-index:9999;" href="javascript:void(0);" ng-click="disableGame()"><img src="img/cancel.svg" style="margin-top:-3px;width:16px;"> End Game</a>
    <div id="lineWrap">
        <h1 style="position:relative; top:-25px;" class="purple-span"><em>{{bookTitle}}</em> {{b}}.{{currentLine.id}}</h1>
        <h4  id="currentLine">
            <span ng-repeat= "syllable in renderedSyllables"><span id="syl{{syllable.id}}" class="syl {{syllable.highlight}} {{syllable.answer}}"><span class="correctanswer syllable{{syllable.quantity}}quant"></span>{{syllable.text}}</span></span>
            </h4>
 
        <div class="{{hideControls}}" id="controls">
            <a class="long" ng-click="evaluateResponse('-')">long</a>                    
            <a class="short" ng-click="evaluateResponse('u')">short</a>

            <a class="nextline" ng-click="evaluateResponse('x')">next line</a>

        </div> 
    </div>  

    <div id="gameOverWrap">
    <h2>Game over.</h2>
    <h4>Lines Completed: <span class="purple-span">{{linesComplete}}</span></h4>
    <h4>Total Answers: <span class="purple-span">{{totalAnswers}}</span> | Correct Answers: <span class="purple-span">{{correctAnswers}}</span> (<span class="purple-span">{{correctAnswers/totalAnswers*100 |number:0}}%</span>)</h4>
    </div>

    <div class="clearfix" id= "currentScore">
        <h3>Streak: {{activeStreak}} 
        <span class='multiplier'>{{multiplier}}X</span> 
        <span style="margin-left:25px;font-size:14px;" id="mode"></span></h3>
        <span id="timer" class="shown-{{gametimer.shown}}">
        <timer ng-attr-countdown="countdown" ng-attr-interval="interval">{{mminutes}}:{{sseconds}}</timer>
        </span>
        <h1>Score: {{currentScore}}</h1>
    </div>                                   
</div>
            
