<div class="modal-header">
    <h3>Marathon Mode</h3>
</div>
<div class="modal-body">
    <div class="col-md-6">
            <label style="color:#333; font-size:16px; line-height:34px;">Starting Line (1-520)</label>
    </div>
    <div class="col-md-6">
        <input autofocus type="number" min="1" max="520" name="startingline" class="form-control" value="1">
    </div>
<br>
</div>
<div class="modal-footer">
    <button style="float:left;" class="btn" ng-click="cancel()">Cancel</button>
    <a class="btn primary" href="#game" ng-click="setMode('marathon'); cancel();">Play</a>
</div>