        <div class="modal-header">
            <h3>Timed Mode</h3>
        </div>
        <div class="modal-body clearfix">

                <div class="col-md-12">
                    <div class="switch-toggle switch-3 switch-ios">
                        <input id="timer2min" name="timesetting" type="radio" checked>
                        <label ng-click="setTime('120')" for="timer2min" onclick="">2 minutes</label>

                        <input id="timer5min" name="timesetting" type="radio">
                        <label ng-click="setTime('300')" for="timer5min" onclick="">5 minutes</label>

                        <input id="timer10min" name="timesetting" type="radio">
                        <label ng-click="setTime('600')"  for="timer10min" onclick="">10 minutes</label>

                        <a></a>
                    </div>

                </div>

        </div>
        <div class="modal-footer">
            <button style="float:left;" class="btn" ng-click="cancel()">Cancel</button>
            <a class="btn primary" href="#game" ng-click="setMode('timed'); cancel();">Play</a>
        </div>